<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../pw-todo-item/pw-todo-item.html">

<dom-module id="pw-todo-list">
  <template>
   <!-- <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <pw-todo-item value="Juan Carlos"></pw-todo-item>-->
    <template is="dom-repeat" items="{{items}}" as="item">
     <!--[[item.name]]--> 
      <pw-todo-item value="[[item.value]]" done="[[item.done]]"></pw-todo-item>
    </template>
  </template>

  <script>


    /**
     * `pw-todo-list`
     * elementos lista que contiene pw-todo-item 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PwTodoList extends Polymer.Element {
      static get is() { return 'pw-todo-list'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'pw-todo-list'
          }, 
          items:{
            type:Array
            }
          };
        }
      }
    

    window.customElements.define(PwTodoList.is, PwTodoList);
  </script>
</dom-module>
